<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img
        src="../../../../assets/carousel1.jpg"
        class="d-block w-100 c-image"
        alt="..."
      />
      <div class="mt-5 carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">
          From Cozy Retreats to Grand Estates
        </p>
        <h1 class="display-2 fw-bolder text-capitalize mt-4">
          Your Perfect Home Awaits!
        </h1>
        <form class="mt-5 searchBar">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
              <div class="input-group mb-4">
                <input
                  type="search"
                  placeholder="What're you searching for?"
                  aria-describedby="button-addon5"
                  class="form-control"
                />
                <div class="input-group-append">
                  <button
                    id="button-addon5"
                    type="submit"
                    class="btn btnSearch btn-primary"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button class="btn main-btn btn-primary px-4 py-2 fs-5 mt-lg-5 mt-sm-5">
          Explore
        </button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="../../../../assets/carousel2.jpg"
        class="d-block w-100 c-image"
        alt="..."
      />
      <div class="mt-5 carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">
          From Cozy Retreats to Grand Estates
        </p>
        <h1 class="display-2 fw-bolder text-capitalize mt-4">
          Your Perfect Home Awaits!
        </h1>
        <form class="mt-5 searchBar">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
              <div class="input-group mb-4">
                <input
                  type="search"
                  placeholder="What're you searching for?"
                  aria-describedby="button-addon5"
                  class="form-control"
                />
                <div class="input-group-append">
                  <button
                    id="button-addon5"
                    type="submit"
                    class="btn btnSearch btn-primary"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button class="btn main-btn btn-primary px-4 py-2 fs-5 mt-lg-5 mt-sm-5">
          Explore
        </button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img
        src="../../../../assets/carousel3.jpg"
        class="d-block w-100 c-image"
        alt="..."
      />
      <div class="mt-5 carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">
          From Cozy Retreats to Grand Estates
        </p>
        <h1 class="display-2 fw-bolder text-capitalize mt-4">
          Your Perfect Home Awaits!
        </h1>
        <form class="mt-5 searchBar">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
              <div class="input-group mb-4">
                <input
                  type="search"
                  placeholder="What're you searching for?"
                  aria-describedby="button-addon5"
                  class="form-control"
                />
                <div class="input-group-append">
                  <button
                    id="button-addon5"
                    type="submit"
                    class="btn btnSearch btn-primary"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button class="btn main-btn btn-primary px-4 py-2 fs-5 mt-lg-5 mt-sm-5">
          Explore
        </button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container text-center pt-5 mt-4">
  <div class="main-title row">
    <h1 class="col-12 fw-bolder firstText mb-3">Explore homes on RealEstate</h1>
    <p class="col-6 mx-auto">
      Take a deep dive and browse homes for sale, original neighborhood photos,
      resident reviews and local insights to find what is right for you.
    </p>
  </div>
</div>
<!-- THE CAROUSEL FOR THE CARDS STARTS HERE -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- FIRST SILDE -->
      <div class="cards-wrapper row m-2">
        <div class="col-lg-3">
          <div class="box">
            <img class="img-fluid" src="../../../../assets/img1.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img3.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img4.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img5.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img6.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">
            <img class="img-fluid" src="../../../../assets/img2.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- SECOND SILDE -->
      <div class="cards-wrapper row m-2">
        <div class="col-lg-3">
          <div class="box">
            <img class="img-fluid" src="../../../../assets/img1.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img3.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img4.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img5.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img6.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">
            <img class="img-fluid" src="../../../../assets/img2.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- THIRD SILDE -->
      <div class="cards-wrapper row m-2">
        <div class="col-lg-3">
          <div class="box">
            <img class="img-fluid" src="../../../../assets/img1.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img3.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img4.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img5.jpg" alt="" />
            <h4 class="text-white fw-bolder">Djerba, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
          <div class="box2">
            <img class="img-fluid" src="../../../../assets/img6.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">
            <img class="img-fluid" src="../../../../assets/img2.jpg" alt="" />
            <h4 class="text-white fw-bolder">Sousse, Tunisia</h4>
            <a href="#" class="btn btn-primary">View Homes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- THE CAREOUSEL FOR THE CARDS ENDS HERE -->

<div class="container text-center mt-5 pt-5">
  <div class="main-title row">
    <h2 class="col-12 fw-bolder firstText mb-3">Newly Listed In Tunisia</h2>
  </div>
</div>

<!-- THE CAROUSEL FOR THE NEWLY LISTED CARDS STARTS HERE -->
<div id="carouselExample2" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper row m-2">
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mx-5">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mx-5">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img6.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper row m-2">
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mx-5">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mx-5">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img6.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper row m-2">
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mx-5">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mx-5">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img6.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/img3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="time">NEW -2HRS AGO</div>
            <div class="card-body">
              <h4>$700,000</h4>
              <p class="card-text">
                3bd 3ba 2,179 sqft 11463 N 56th St, Scottsdale, AZ 85254
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample2"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous2</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample2"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next2</span>
  </button>
</div>
<!-- THE CAROUSEL FOR THE NEWLY LISTED CARDS ENDs HERE -->

<div class="container text-center mt-5 pt-5">
  <div class="main-title row">
    <h2 class="col-12 fw-bolder firstText mb-3">See How RealEstate Can Help</h2>
  </div>
</div>
<!-- THE SEE HOW REAL ESTATE CAN HELP PART STARTS HERE -->
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="wrapper text-center">
        <img class="img-fluid" src="../../../../assets/icon1.svg" alt="" />
        <h4 class="fw-bolder">Buy a home</h4>
        <p>
          With over 1 million+ homes for sale available on the website, Trulia
          can match you with a house you will want to call home.
        </p>
        <a href="#" class="btn btn3 btn-primary fw-bolder">Find a Home</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="wrapper text-center">
        <img class="img-fluid" src="../../../../assets/icon2.svg" alt="" />
        <h4 class="fw-bolder">Rent a home</h4>
        <p class="text-center">
          With 35+ filters and custom keyword search, Trulia can help you easily
          find a home or apartment for rent that you'll love.
        </p>
        <a href="#" class="btn btn3 btn-primary fw-bolder">Find a Rental</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="wrapper text-center">
        <img class="img-fluid" src="../../../../assets/icon3.svg" alt="" />
        <h4 class="fw-bolder">Find Neighborhoods</h4>
        <p>
          With more neighborhood insights than any other real estate website,
          we've captured the color and diversity of communities.
        </p>
        <a href="#" class="btn btn3 btn-primary fw-bolder">Learn More</a>
      </div>
    </div>
  </div>
</div>
<!-- THE SEE HOW REAL ESTATE CAN HELP PART ENDS HERE -->
<div class="container text-center mt-5 mb-5 pt-5">
  <div class="main-title row">
    <h2 class="col-12 fw-bolder firstText mb-3">
      discover a place you'll love to live
    </h2>
  </div>
</div>
